version: "3.8"

services:
  mysql:
    image: ghcr.io/GilOsterweil/custom-mysql/mysql:latest
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: appdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  cloudbeaver:
    image: ghcr.io/<USER>/<REPO>/cloudbeaver:latest
    container_name: cloudbeaver
    restart: always
    ports:
      - "8978:8978"
    depends_on:
      - mysql

volumes:
  mysql_data:
